{# Page Data #}

{# Page Introduction #}
{% set data = {
	heading: 'Typography - Body',
	template: "'./src/scss/1-base/base.scss'",
	description: '
			<p><code>[ foo : element ]</code> denotes inherited property, and element reference</p>
			<p>Responsive type between 420px and 1280px</p>
			'
} %}

{% set fonts = [
	{
		class: 'text-xl',
		fontSize: '17px - 24px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		class: 'text-lg',
		fontSize: '23px - 45px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		class: 'text-md',
		fontSize: '15px - 18pxpx',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		class: 'text-sm',
		fontSize: '14px - 16px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		class: 'text-xs',
		fontSize: '12px - 14px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	}
] %}

{% set copy =
	'<p>
		Aenean <strong>lacinia bibendum</strong> nulla sed consectetur. Sed
		posuere consectetur <em>est at lobortis</em>. Fusce dapibus,
		tellus ac cursus commodo, tortor<strike>
			mauris condimentum
		</strike>nibh, ut fermentum massa justo sit amet risus. Nullam
		quis risus eget urna mollis <a href="/" title="link">
			ornare vel
		</a> eu leo. Nulla vitae elit libero, a pharetra augue. Nullam id
		dolor id nibh ultricies vehicula ut id elit.
	</p>'
%}

{# Block in Main Styleguide Page #}
{% block styleguide_section %}
	{# Body Text #}
	{% embed '/styleguide/_templates/section'
		with {
			heading: data.heading,
			description: data.description,
			template: data.template
		}
	%}
		{% block styleguide_example %}
			{#  #}
			{# Body Text #}
			{#  #}
			{% for font in fonts %}
				{% embed '/styleguide/_templates/item'
					with {
						heading: ".#{font.class}",
						variables: font
					}
				%}
					{% block styleguide_item %}
						<div class="{{ font.class }} o-content o-style">
							{{ copy|raw }}
						</div>
					{% endblock %}
				{% endembed %}
			{% endfor %}
			{# End Body Text #}

			{#  #}
			{# Body Text #}
			{#  #}
			{% embed '/styleguide/_templates/item'
				with {
					heading: '.o-content',
					variables: {
						use: 'Styles &lt;ol&gt; and &lt;ul&gt; and &lt;a&gt; elements'
					}
				}
			%}
				{% block styleguide_item %}
					<div class="o-content o-style">
						{{ copy|raw }}
						<ol>
							<li>
								Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
								auctor.
							</li>
							<li>Vestibulum id ligula porta felis euismod semper.</li>
							<li>
								Praesent commodo cursus magna, vel scelerisque nisl consectetur
								et.
							</li>
						</ol>

						<p>
							Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
							vestibulum. Praesent commodo cursus magna, vel scelerisque nisl
							consectetur et. Sed posuere consectetur est at lobortis. Donec id
							elit non mi porta gravida at eget metus.
						</p>

						<p>
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras
							mattis consectetur purus sit amet fermentum. Maecenas faucibus
							mollis interdum. Praesent commodo cursus magna, vel scelerisque
							nisl consectetur et. Praesent commodo cursus magna, vel
							scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies
							vehicula ut id elit.
						</p>

						<ul>
							<li>
								Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
								auctor.
							</li>
							<li>Vestibulum id ligula porta felis euismod semper.</li>
							<li>
								Praesent commodo cursus magna, vel scelerisque nisl consectetur
								et.
							</li>
						</ul>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
							blandit tempus porttitor. Cum sociis natoque penatibus et magnis
							dis parturient montes, nascetur ridiculus mus. Vestibulum id
							ligula porta felis euismod semper. Vivamus sagittis lacus vel
							augue laoreet rutrum faucibus dolor auctor. Cras justo odio,
							dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
							porta gravida at eget metus.
						</p>
					</div>
				{% endblock %}
			{% endembed %}
			{# End Plain Link #}
		{% endblock %}
	{% endembed %}
{% endblock %}
