{# Responsive Type Docs #}
{# https://www.rucksackcss.org/docs/#responsive-type #}

{# Todo: Get computer values via JS #}

{# Extending Main Styleguide Page #}
{% extends '/styleguide/index' %}

{% set pageTitle = 'Styleguide | Typography' %}

{# Block in Main Styleguide Page #}
{% block content %}
	{# Keep Page Title #}
	{{ parent() }}

	{% set templates = ['headings', 'body'] %}
	{% for template in templates %}
		{% include "/styleguide/typography/_#{template}" %}
	{% endfor %}
{% endblock %}
