{# Extending Main Styleguide Page #}
{% extends '/styleguide/index' %}

{% set pageTitle = 'Styleguide | Components' %}

{# Block in Main Styleguide Page #}
{% block content %}
	{# Keep Page Title #}
	{{ parent() }}

	{# Heros #}
	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Hero',
			subheading: 'Text only. Centered'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/heros/text-centered' with {
				headline: 'Data to enrich your ',
				highlightedText: 'online business',
				paragraph: 'Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.',
				primaryButton: {
					url: '#0',
					text: 'Read more'
				},
				secondaryButton: {
					url: '#1',
					text: 'Read more'
				},
				backgroundImage: null
			} %}
		{% endblock %}
	{% endembed %}

	{# CTA #}
	{% embed '/styleguide/_templates/section'
		with {
			heading: 'CTA',
			description: '/__library/components/call-to-actions/simple-centered.twig'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/call-to-actions/simple-centered' with {
				header: 'Data to enrich your lives!',
				subheader: 'Take a look today.',
				primaryButton: {
					url: '#0',
					text: 'Read more'
				},
				secondaryButton: {
					url: '#1',
					text: 'Read more'
				}
			} %}
		{% endblock %}
	{% endembed %}

	{% embed '/styleguide/_templates/section'
		with {
			heading: 'CTA',
			description: '/__library/components/call-to-actions/simple-justified.twig'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/call-to-actions/simple-justified' with {
				header: 'Data to enrich your lives!',
				subheader: 'Take a look today.',
				primaryButton: {
					url: '#0',
					text: 'Read more'
				},
				secondaryButton: {
					url: '#1',
					text: 'Read more'
				}
			} %}
		{% endblock %}
	{% endembed %}

	{% embed '/styleguide/_templates/section'
		with {
			heading: 'CTA',
			description: '/__library/components/call-to-actions/simple-stacked.twig'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/call-to-actions/simple-stacked' with {
				header: 'Data to enrich your lives!',
				subheader: 'Take a look today.',
				primaryButton: {
					url: '#0',
					text: 'Read more'
				},
				secondaryButton: {
					url: '#1',
					text: 'Read more'
				}
			} %}
		{% endblock %}
	{% endembed %}

	{% embed '/styleguide/_templates/section'
		with {
			heading: 'CTA',
			description: '/__library/components/call-to-actions/split-w-image.twig'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/call-to-actions/split-w-image' with {
				header: 'Data to enrich your lives!',
				subheader: 'Take a look today.',
				primaryButton: {
					url: '#0',
					text: 'Read more'
				},
				secondaryButton: {
					url: '#1',
					text: 'Read more'
				}
			} %}
		{% endblock %}
	{% endembed %}

	{# Feature Sections #}
	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Feature Sections',
			description: '/__library/components/feature-sections/text-img.twig'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/feature-sections/text-img' with {
				header: 'Data to enrich your lives!',
				body: 'Take a look today.',
				features: [
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					}
				]
			} %}
		{% endblock %}
	{% endembed %}

	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Feature Sections',
			description: '/__library/components/feature-sections/3-col-text.twig'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/feature-sections/3-col-text' with {
				features: [
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					}
				]
			} %}
		{% endblock %}
	{% endembed %}

	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Feature Sections',
			description: '/__library/components/feature-sections/centered-2-col-text.twig'
		}
	%}
		{% block styleguide_example %}
			{% include '/__library/components/feature-sections/centered-2-col-text' with {
				header: 'A better way to send money',
				preheader: 'Transactions',
				body: 'Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.',
				features: [
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					},
					{
						header: 'Data to enrich your lives!',
						body: 'Take a look today.',
						icon: 'logo'
					}
				]
			} %}
		{% endblock %}
	{% endembed %}
{% endblock %}
