{# 
  Use in conjunction with getImage() twig extension / helper 
  i.e. {% set image = getImage(entry.image) %}

  Variables 
    - image (Object | returned from getImage() function)
    - sizes (string | media query for picture element)
    - position (string | relative (default) or absolute)
    - modifier (string | for adding object modifier class)
    - classes (string | for any other tailwind utils / overwrites)
#}

{% set image = image|default(null) %}
{% set sizes = sizes|default('100vw') %}
{% set position = position|default('relative') %}
{% set fit = fit|default('cover') %}
{% set modifier = modifier|default('') %}
{% set classes = classes|default('') %}

{% if image %}
	<div class="max-w-full" style="width:{{ image.width }}px;">
		<picture class="o-picture {{
			(modifier|length) > 0
				? 'o-picture--' ~ modifier
			}} block h-0 max-w-full {{ position }} {{ classes }}"
			style="padding-bottom: {{ image.height / image.width * 100 }}%; {{
			position == 'absolute'
				? 'top: 50%;
    transform: translateY(-50%);'
			}}">
			{% if image.webp %}
				<source srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="{{ image.webpSrcset }}"
					data-sizes="auto"
					type="image/webp" />
			{% endif %}

			{% if image.srcset %}
				<source srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="{{ image.srcset }}"
					data-sizes="auto"
					type="image/jpeg" />
			{% endif %}

			<img class="absolute inset-0 object-{{ fit }} w-full h-full lazyload"
				src="{{ image.placeholder }}"
				data-src="{{ image.src }}"
				alt="{{ image.alt }}"
				width="{{ image.width }}"
				height="{{ image.height }}" />
		</picture>

		<noscript>
			<picture class="o-picture {{
				(modifier|length) > 0
					? 'o-picture--' ~ modifier
				}} block w-full h-0 {{ position }} {{ classes }}"
				style="padding-bottom: {{ image.height / image.width * 100 }}%">
				{% if image.webp %}
					<source srcset="{{ image.webpSrcset }}"
						data="{{ sizes }}"
						type="image/webp" />
				{% endif %}

				<source srcset="{{ image.srcset }}"
					sizes="{{ sizes }}"
					type="image/jpeg" />

				<img class="absolute inset-0 object-{{ fit }} w-full h-full"
					src="{{ image.src }}"
					alt="{{ image.alt }}"
					width="{{ image.width }}"
					height="{{ image.height }}" />
			</picture>
		</noscript>
	</div>
{% endif %}
