{# 
  Pass in any Craft element (Entry, Category, Asset etc)
  and share buttons with icons will be populated

  Variables 
    - element (Craft Element - Entry, Category, Asset)
#}

{% import '/_macros/helpers' as h %}

{% set element = element|default(null) %}

{% if element %}
	<ul class="o-share" data-behaviour="Share" id="share-{{ element.id }}">
		<li>
			{% set twitterText =
				("View '" ~ element.title ~ "' on OMCT")|url_encode
			%}
			<a class="o-share__link"
				onclick="window.open('{{
				'https://twitter.com/share?url=' ~ element.url ~ '&amp;text='
					~ twitterText
					~ '&amp;via=omctorg'
				}}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"
				rel="noopener noreferrer"
				title="Share on Twitter">
				{{ h.symbol('twitter') }}
			</a>
		</li>
		<li>
			<a class="o-share__link"
				onclick="window.open('{{
				'https://www.facebook.com/sharer/sharer.php?u='
					~ element.url
				}}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"
				rel="noopener noreferrer"
				title="Share on Facebook">
				{{ h.symbol('facebook') }}
			</a>
		</li>
		<li>
			<a class="o-share__link"
				onclick="window.open('{{
				'https://www.linkedin.com/sharing/share-offsite/?url='
					~ element.url
				}}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"
				rel="noopener noreferrer"
				title="Share on LinkedIn">
				{{ h.symbol('linkedin') }}
			</a>
		</li>
		<li>
			<button class="o-share__link"
				title="Share with a friend"
				data-micromodal-trigger="share-with-friend">
				{{ h.symbol('email') }}
			</button>
		</li>
	</ul>

	{{ sprig('/_components/forms/share') }}

	{{ sprig.script }}
{% endif %}
