{% include [
	'/pages/_' ~ entry.section.handle ~ '/' ~ entry.uri,
	'/pages/_' ~ entry.section.handle ~ '/' ~ entry.type.handle,
	'/pages/_shared/' ~ entry.uri,
	'/pages/_shared/' ~ entry.type.handle,
	'/pages/_shared/' ~ entry.section.handle,
	'/pages/_' ~ entry.uri,
	'/pages/_' ~ entry.type.handle,
	'/pages/_' ~ entry.section.handle,
	'/errors/404'
] %}
