{% set variant = 'radio' %}
{% if type == 'checkbox_group' %}
	{% set variant = 'checkbox' %}
{% endif %}

<div class="o-field field-{{ handle }} {{ classes }}">
	<label for="{{ handle }}"
		class="o-label {{ required ? 'o-label-required' }}"
		{{ required ? 'data-field-row' }}>
		<span class="o-label_text {{ required ? 'o-label_text--required' }}">
			{{ label }}
		</span>

		{% if instructions %}
			<p class="o-instructions text-sm">
				{{ instructions }}
			</p>
		{% endif %}

		{% if options %}
			<ul class="list-reset mb-0 w-full flex flex-wrap">
				{% for option in options %}
					<li class="flex mb-0 w-auto mr-1-75">
						<label class="o-label">
							<input class="o-{{ variant }}"
								type="{{ variant }}"
								id="{{ handle ~ loop.index }}"
								name="{{ handle }}"
								value="{{ option.value }}"
								{{ value == option.value ? 'checked' }}
								{{ required ? 'required' }} />

							<span class="o-label_text o-{{ variant }}__box">
								{{ option.label }}
							</span>
						</label>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</label>
</div>
