<div class="o-field field-{{ handle }} {{ classes }}">
	<label for="{{ handle }}" class="o-label {{ required ? 'o-label-required' }}">
		<span class="o-label_text {{ required ? 'o-label_text--required' }}">
			{{ label }}
		</span>

		{% if instructions %}
			<p class="text-sm o-instructions">
				{{ instructions }}
			</p>
		{% endif %}

		<span class="relative block w-full" {{ required ? 'data-field-row' }}>
			<select id="{{ handle }}"
				name="{{ handle }}"
				class="o-select"
				data-presence="{{ presence }}"
				{{ required ? 'required' }}>
				{% if defaultOption %}
					<option value="" {{ value ? '' : 'selected' }} disabled>
						{{ defaultOption }}
					</option>
				{% endif %}

				{% for option in options %}
					<option value="{{ option.value }}"
						{{
						(option.selected is defined and option.selected)
							or value == option.value
							? 'selected'
							: null
						}}>
						{{ option.label }}
					</option>
				{% endfor %}
			</select>
		</span>
	</label>
</div>
