*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	@apply w-screen overflow-x-hidden;

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.no-js img.lazyload {
	display: none;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

body {
	@apply font-regular min-h-screen;

	font-size: responsive rem(15px) rem(18px);
	text-rendering: optimizeLegibility;
	font-feature-settings: 'kern' 1;
	font-kerning: normal;
	line-height: 1.347826087;
	letter-spacing: 0.014em;
}

/*
 *		Image defaults
 */
img,
svg {
	@apply max-w-full h-auto;
}

/*
 *		Class used for lazyloading images, combined with data-src
 */
.lazyload {
	@apply opacity-0;

	transition: opacity 300ms ease-in-out;
}

/*
 *		Base wrapper class
 */
.wrapper {
	@apply w-full max-w-wrapper px-5 mx-auto;

	@screen md {
		@apply px-10;
	}
}

/*
 *		Heading styling
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-style: normal;
}

h1,
.h1 {
	font-size: responsive rem(36px) rem(50px);
	line-height: 1.2;
}

h2,
.h2 {
	font-size: responsive rem(30px) rem(45px);
}

h3,
.h3 {
	font-size: responsive rem(25px) rem(40px);
}

h4,
.h4 {
	font-size: responsive rem(20px) rem(35px);
}

h5,
.h5 {
	font-size: responsive rem(19px) rem(19px);
}

h6,
.h6 {
	font-size: responsive rem(18px) rem(20px);
}

/*
 *		Body text sizes
 */
.text-xl {
	font-size: responsive rem(17px) rem(24px);
}

.text-lg {
	font-size: responsive rem(16px) rem(21px);
}

.text-md {
	font-size: responsive rem(15px) rem(18px);
}

.text-sm {
	font-size: responsive rem(14px) rem(16px);
}

.text-xs {
	font-size: responsive rem(12px) rem(14px);
}

/*
 *		Basic text styling
 */
.o-content,
p {
	margin-bottom: 1em;

	&:last-child {
		@apply mb-0;
	}
}

a {
	color: inherit;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

// CMS / Text wrapping styling
.o-content {
	a {
		@apply text-red;

		transition: color 50ms;
		will-change: color;

		&:focus,
		&:hover {
			@apply underline;
		}
	}

	ul,
	ol {
		@apply relative;

		list-style-type: none;
		margin-block-start: 4rem;
		margin-block-end: 4rem;
		margin-inline-start: 0;
		margin-inline-end: 0;
		padding-inline-start: 4rem;

		li {
			@apply relative pl-5 mt-0 mb-2;

			&::before {
				@apply absolute left-0 text-black -ml-1 text-red;
			}

			@screen md {
				@apply mb-5 pl-5;
			}
		}
	}

	ul {
		counter-reset: counter;

		li {
			&::before {
				@apply block rounded-full border-2 border-red;

				top: rem(6px);
				content: '';
				width: rem(10px);
				height: rem(10px);
			}
		}
	}

	ol {
		counter-reset: counter;

		li {
			&::before {
				@apply top-0;

				counter-increment: counter;
				content: counter(counter) ': ';
			}
		}
	}
}

/*
 *		Text selection
 */
::-moz-selection {
	@apply bg-red text-white;
}

::selection {
	@apply bg-red text-white;
}

/*
 *		detectTab.js. %focus is defined in `_variables.scss`
 */
// body:not(.user-is-tabbing) a:focus,
// body:not(.user-is-tabbing) button:focus,
// body:not(.user-is-tabbing) input:focus,
// body:not(.user-is-tabbing) select:focus,
// body:not(.user-is-tabbing) textarea:focus {
// 	outline: none;
// }

*:focus {
	outline: none;
}

body.user-is-tabbing {
	a:focus,
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		@extend %focus;
	}

	// Specific focusing for custom checkbox / radio inputs
	.o-checkbox,
	.o-radio {
		&:focus {
			& + .o-checkbox__box::before {
				@extend %focus;
			}
		}
	}
}
