{% import '/_macros/helpers' as h %}

{% set menuLinks = menuLinks|default([]) %}

{# Header JS is instantiated in app.js, so no need for a data-behaviour #}
<header id="header" class="fixed top-0 left-0 z-50 w-full g-header">
	<div class="relative z-50 flex flex-wrap items-center justify-between px-1 g-header__inner bg-blue">
		{# Logo #}
		<a class="inline-block g-header__logo" href="/" title="">
			{{ h.symbol('logo') }}
			<span class="sr-only">{{ currentSite.name }}</span>
		</a>

		{% if menuLinks|length %}
			{# Burger (as checkbox) #}
			{% include '/_objects/burger' with {
				classes: 'fixed top-0 right-0 z-50 text-black'
			} %}

			{# Menu #}
			<div class="absolute top-0 left-full z-40 w-full bg-white g-header__nav max-w-500"
				id="site-menu">
				<ul class="flex flex-col flex-wrap items-start justify-start h-full pt-5 overflow-hidden g-header__nav-list"
					id="menu-inner">
					{% for link in menuLinks %}
						<li class="g-header__nav-item">
							<a href="{{ link.url }}" class="block p-3 g-header__nav-link">
								{{ link.text }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
</header>
