{% embed '/wrapper/_error-layout' %}
	{% block content %}
		<div class="flex flex-col justify-center items-center w-screen h-screen">
			<div class="wrapper">
				<h1 class="mb-1-5">
					500 Error. Internal server error.
				</h1>
				<p>
					<a href="/">Jump to the homepage.</a>
				</p>
			</div>
		</div>
	{% endblock %}
{% endembed %}
