.o-btn {
	// Standard Default
	@apply appearance-none text-center inline-flex justify-center items-center;

	// Standard cosmetic
	@apply rounded-full px-8 pt-4 pb-3 border-2 border-black appearance-none text-black uppercase;

	font-size: responsive rem(16px) rem(16px);
	transition: background-color 200ms, color 200ms;
}

.o-btn:hover {
	@apply bg-black text-white;
}
