{# Make sure we have data #}
{% set method = method|default('post') %}
{% set action = action|default('contact-form/send') %}
{% set hiddenInputs = hiddenInputs|default([]) %}

{% set formHeading = formHeading|default(null) %}
{% set formFields = formFields|default([]) %}
{% set submitText = submitText|default('Submit') %}
{% set disclaimer = disclaimer|default(null) %}

{# Form Wrapper #}
{% if formFields|length %}
	<form id="form-{{ formHeading|kebab }}"
		method="{{ method }}"
		accept-charset="UTF-8"
		class="c-form"
		data-behaviour="FormValidation">
		{{ csrfInput() }}
		{# {{ craft.snaptcha.field }} #}
		<input type="hidden" name="action" value="{{ action }}" />

		{# Add custom hidden inputs #}
		{% if hiddenInputs|length %}
			{% for input in hiddenInputs %}
				<input type="hidden"
					name="{{ input.name }}"
					value="{{ input.value }}" />
			{% endfor %}
		{% endif %}

		<fieldset class="">
			{% if formHeading %}
				<legend class="o-legend">
					{{ formHeading }}
				</legend>
			{% endif %}

			<div class="o-field-wrapper lg:g-grid">
				{% for field in formFields %}
					{% include '_forms/_switch' with {
						field: field
					} %}
				{% endfor %}
			</div>
		</fieldset>

		<fieldset class="o-submit-fieldset">
			{% include '/_objects/button' with {
				text: submitText,
				type: 'submit',
				rest: 'data-submit'
			} %}
		</fieldset>

		{% if disclaimer %}
			<p class="o-disclaimer">
				{{ disclaimer|raw }}
			</p>
		{% endif %}
	</form>
{% endif %}
