{% import '/_macros/helpers' as h %}

{% set header = header|default('') %}
{% set body = body|default('') %}
{% set features = features|default([]) %}

<div class="py-16 overflow-hidden bg-gray-50 lg:py-24">
	<div class="relative max-w-xl px-4 mx-auto sm:px-6 lg:px-8 lg:max-w-screen-xl">
		<svg class="absolute hidden transform -translate-x-1/2 lg:block left-full -translate-y-1/4"
			width="404"
			height="784"
			fill="none"
			viewBox="0 0 404 784">
			<defs>
				<pattern id="svg-pattern-squares-1"
					x="0"
					y="0"
					width="20"
					height="20"
					patternUnits="userSpaceOnUse">
					<rect x="0"
						y="0"
						width="4"
						height="4"
						class="text-gray-200"
						fill="currentColor" />
				</pattern>
			</defs>
			<rect width="404" height="784" fill="url(#svg-pattern-squares-1)" />
		</svg>

		<div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
			<div class="relative">
				{% if header|length %}
					<h4 class="text-2xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-3xl sm:leading-9">
						{{ header }}
					</h4>
				{% endif %}

				{% if body|length %}
					<div class="{{
						header|length
							? 'mt-3'
						}} text-lg leading-7 text-gray-500">
						{{ body|raw }}
					</div>
				{% endif %}

				<ul>
					{% for feature in features %}
						{% set header = feature.header|default('') %}
						{% set body = feature.body|default('') %}
						{% set icon = feature.icon|default('') %}
						<li class="mt-10">
							<div class="flex">
								{% if icon|length %}
									<div class="flex-shrink-0">
										<div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
											{{ h.symbol(icon) }}
										</div>
									</div>
								{% endif %}

								<div class="{{ icon|length ? 'ml-4' }}">
									{% if header|length %}
										<h5 class="text-lg font-medium leading-6 text-gray-900">
											{{ header }}
										</h5>
									{% endif %}
									{% if body|length %}
										<div class="mt-2 text-base leading-6 text-gray-500">
											{{ body|raw }}
										</div>
									{% endif %}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="relative">
				{#  {% set image =
					getImage(
						fallbacks.image[0],
						[
							{
								width: 800,
								height: 450
							}
						]
					)
				%}
				<img src="{{ image.src }}" /> #}
			</div>
		</div>
	</div>
</div>
