{# Block in Main Styleguide Page #}
{% block content %}
	{# Buttons #}
	{% set fullVariables = {
		link: 'string',
		text: 'string',
		id: 'string',
		name: 'string',
		type: 'string',
		classes: 'string',
		icon: 'string',
		modifier: 'string',
		dir: '"left" or "right"',
		rest: 'data-attr="foo"'
	} %}
	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Buttons',
			description: '
			<p class="">
				<span class="text-grey">Template:</span> "/_objects/button"
			</p>',
			variables: fullVariables
		}
	%}
		{% block styleguide_example %}
			<article id="objects-button-link" class="w-full mb-8 lg:mb-16">
				<div class="mb-4 o-meta lg:mb-8">
					<h5 class="pb-2 mb-4 uppercase border-b lg:mb-8 border-grey-lightest">
						Buttons
					</h5>
				</div>

				<div class="flex flex-wrap justify-start">
					<div class="w-full lg:w-6/12">
						{#  #}
						{# Plain Link #}
						{#  #}

						{% set variables = {
							link: '/url/',
							text: 'Link Text'
						} %}

						{% include '/_objects/button' with variables %}
						<div class="mt-4">
							{% include '/styleguide/_templates/variables' with variables %}
						</div>
					</div>

					<div class="w-full lg:w-6/12">
						{#  #}
						{# Plain Button #}
						{#  #}
						{% set variables = {
							link: null,
							text: 'Button Text',
							icon: false,
							dir: null,
							rest: 'data-attr="foo"'
						} %}

						{% include '/_objects/button' with variables %}
						<div class="mt-4">
							{% include '/styleguide/_templates/variables' with variables %}
						</div>
					</div>
				</div>
			</article>
		{% endblock %}
	{% endembed %}
{% endblock %}
