{# Block in Main Styleguide Page #}
{% block styleguide_section %}
	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Colours',
			description: '
			<p class="">
				<span class="text-grey">Config:</span> "./src/scss/tailwind/colors.js"
			</p>'
		}
	%}
		{% block styleguide_example %}
			{# Content #}
			{% set colors = [
				{
					hex: 'currentColor',
					name: 'currentColor'
				},
				{
					hex: 'transparent',
					name: 'transparent'
				},
				{
					hex: '#ffffff',
					name: 'white'
				},
				{
					hex: '#17202A',
					name: 'black'
				},
				{
					hex: '#938E8E',
					name: 'grey',
					nameAlt: 'grey ("default")'
				},
				{
					hex: '#d7dde2',
					name: 'grey-lightest'
				},
				{
					hex: '#f6f6f4',
					name: 'grey-lighter'
				},
				{
					hex: '#445364',
					name: 'grey-dark'
				},
				{
					hex: '#979797',
					name: 'border'
				},
				{
					hex: '#228b22',
					name: 'green'
				},
				{
					hex: '#ff0000',
					name: 'red'
				},
				{
					hex: '#ff0000',
					name: 'error',
					nameAlt: 'error (abstraction of red)'
				},
				{
					hex: '#228b22',
					name: 'success',
					nameAlt: 'success (abstraction of green)'
				}
			] %}

			<article id="objects-colors" class="w-full mb-8 lg:mb-16">
				<div class="mb-4 o-meta lg:mb-8">
					<h5 class="pb-2 uppercase border-b border-grey-lightest">
						Palette
					</h5>
				</div>

				<div class="flex flex-wrap justify-start text-center">
					{% for color in colors %}
						<div class="flex flex-wrap justify-center w-6/12 mb-16 sm:w-4/12 md:w-3/12 xl:w-2/12">
							<div class="rounded-full w-full sm p-2 flex justify-center items-center cursor-pointer select-all o-circle shadow mb-4
							bg-{{
								color.name
								}}
							{{
								color.name == 'white' or color.name == 'transparent'
									? 'text-black'
									: ' text-white'
								}} ">
								{{ color.hex }}
							</div>
							<span class="inline-block w-full select-all">
								{{ color.nameAlt ?? color.name }}
							</span>
						</div>
					{% endfor %}
				</div>
			</article>
		{% endblock %}
	{% endembed %}
{% endblock %}
