{# Extending Main Styleguide Page #}
{% extends '/styleguide/index' %}

{% set pageTitle = 'Styleguide | Objects' %}

{% block content %}
	{# Keep Page Title #}
	{{ parent() }}

	{% set templates = ['colors', 'buttons', 'icon-text'] %}

	{% for template in templates %}
		{% include "/styleguide/objects/_#{template}" %}
	{% endfor %}
{% endblock %}
