{#  #}
{# Namespace - for unique Styleguide styling #}
{#  #}
{% set namespace = 'styleguide' %}

{#  #}
{# Data #}
{#  #}
{% set templates = ['typography', 'objects', 'components', 'form'] %}

{#  #}
{# Override of main menu #}
{#  #}
{% set menuLinks = [] %}
{% for template in templates %}
	{% set menuLinks =
		menuLinks|merge(
			[
				{
					text: template|title,
					url: url("styleguide/#{template}")
				}
			]
		)
	%}
{% endfor %}

{#  #}
{# Content #}
{#  #}
{% extends '/wrapper/_layout' %}

{# Main Content Block #}
{% block content %}
	{# Page Heading #}
	<div class="wrapper">
		<a href="{{ url('styleguide') }}" class="block mb-16">
			<h1>
				{{ pageTitle ?? 'Styleguide' }}
			</h1>
		</a>
	</div>

	{# Styleguide Instance Block #}
	{# {% embed '/styleguide/_templates/section'
		with {
			heading: 'Styleguide',
			subheading: 'Whitelabel for Mudpack'
		}
	%}
	{% endembed %} #}
{% endblock %}
